* {
  /* border: dotted; */
  box-sizing: border-box;
}
main {
  width: 960px;
  margin: 0 auto;
}
header { 
  width: 100%;
  background-color: black;
  height: 100px;
}
img {
  display: block;
}
nav {
  /* background-color: aquamarine; */
  text-align: center;
  margin-left: 240px;
}
nav li {
  display: inline-block;
  width: 168px;
  height: 70px;
  background-color: green;
  color: white;
  margin-top: 15px;
}
.hero {
  margin-top: 30px;
}
li {
  float: left;
  margin-right: 30px;
  list-style-type: none;
}
.three-image {
  margin-top: 30px;
  margin-bottom: 60px;
}
li:last-child {
  margin-right: 0px;
}
p {
  display: block;
}
.bottomImage {
  float: left;
  padding-left: 20px;
	box-sizing: border-box;
	width: 50%;
  float: left;
  margin-top: 30px;
  margin-right: 50px;
  margin-left: -20px;
  clear: both;
  border: dashed;
  
}
.bottomPara {
  height: 275px;
  margin-top: 437px;
  overflow-y: scroll;
  
}
.bottomInfo {
  /* float: right; */
  /* border: dashed; */
}
footer {
  background-color: gray
  padding: 15px;
  text-align: center;
  color: #fff;
  position:fixed;
  bottom: 0;
  left: 0;
  right: 0;
} 

